<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Plaid Walkthrough Example</title>
<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


  <div id="container">
    <button id="link-btn">Link Account</button>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
    // code for the text box used to sign in
  (function($) {
    console.log('in inline js are these variables?', '<%= PLAID_ENV %>', '<%= PLAID_PUBLIC_KEY %>')
    var handler = Plaid.create({
      apiVersion: 'v2',
      clientName: 'Plaid Walkthrough Demo',
      env: '<%= PLAID_ENV %>',
      product: ['transactions'],
      key: '<%= PLAID_PUBLIC_KEY %>',
      onSuccess: function(public_token, metadata) {
        $.post('/get_access_token', {
          public_token: public_token
        }, function() {
          
        });
      },
    });
    console.log('our handler', handler);

    $('#link-btn').on('click', function(e) {
      handler.open();
    });

   

    $('#get-accounts-btn').on('click', function(e) {
      $.get('/accounts', function(data) {
        
      });
    });

    $('#get-item-btn').on('click', function(e) {
      $.post('/item', function(data) {
        
      });
    });

    $('#get-transactions-btn').on('click', function(e) {
      $.post('/transactions', function(data) {
        if (data.error != null) {
          // Format the error
          
        } else {
        }
      });
    });
  })(jQuery);
  </script>
</body>
</html>
